nav {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #2a3239;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
    color: #17cf97;
}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #17cf97;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Дополненные стили для кнопки */
#navbar li button {
    border: none;
    background-color: transparent;
    /*cursor: pointer;*/
    font-size: 1.3rem;
    font-weight: 600;
    color: #2a3239;
    transition: color 0.3s ease-in-out;
    /*margin-left: -6px;*/
}

#navbar li button:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #17cf97;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#navbar li button:hover {
    color: #17cf97;
}


#mobile {
    display: none;
}

#mobile i {
    color: #2a3239;
    align-items: center;
}

@media screen and (max-width: 769px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 80px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: #fff;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
    }

    #navbar.active {
        right: 0;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: block;
    }

    #mobile i {
        font-size: 24px;
        cursor: pointer;
        color: black;
    }
}

.user-profile {
    position: relative;
    cursor: pointer;
}

.username {
    font-weight: bold;
    font-size: 14px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 0;
    z-index: 1000;
}

.dropdown-menu li {
    list-style: none;
}

.dropdown-menu li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    color: #333;
}

.dropdown-menu li a:hover {
    background-color: transparent; /* Изменено значение на прозрачный */
}


.user-profile:hover .dropdown-menu {
    display: block;
}

#navbar li button,
#navbar .username {
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
    font-weight: 600;
    color: #2a3239;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
    margin-left: 0; /* Оставить стандартное значение для всех элементов */
}

#navbar li button:hover::after,
#navbar .username:hover::after {
    content: '';
    width: 30%;
    height: 2px;
    background: #17cf97;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#navbar li button:hover,
#navbar .username:hover {
    color: #17cf97;
}

#navbar button:focus {
    outline: none;
}

.dropdown-menu li a.active {
    background-color: transparent !important;
}






